/*
   Edgar D Rosales
   CSD440 Server-Side Scripting
   22 Jan 2025

   CSS Stylesheet for general purpose.

*/
header {
    background-color: #a0d3e8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
hr {
    border: 2px solid black;
}
h1, h2 {
    text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: ghostwhite;
}

th, td {
    border: 2px solid black;
    padding: 7px;
    text-align: center;
    border-collapse: collapse;
}
th {
    background-color: #9090df;
    color: ghostwhite;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.no-border {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.side-by-side {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10px auto;

}

.right {
    font-family: "Open Sans", "DejaVu Sans", sans, sans-serif;
    width: 45%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: ghostwhite;
}

.left {
    font-family: "Consolas", "Menlo", "Courier", monospace;
    width: 45%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #a0d3e8;
}