/*
   Edgar D Rosales
   CSD440 Server-Side Scripting
   16 Jan 2025

   CSS Stylesheet for general purpose.

*/
header {
    background-color: #a0d3e8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
hr {
    border: 1px solid black;
}
h1 {
    text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}
th {
    background-color: #a0d3e8;
    color: ghostwhite;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
